/*Esto es para marcar las letras correctas, incorrectas o cercanas*/
:root {
  --ff: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --clr-amarillo: 	#FFFF00;
  --clr-verde: #008000;
  --clr-gris: 	#808080;
}


body {
  min-height: 100vh;
  background-color: blue;
}

#tabladelwordle {
  margin: auto;
}

h1 {
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
}

.main-content {
  height: 100%;
}

.fila,
.inputdelcuadrado {
  justify-content: center;
  display: flex;
}

form.fila:first-child input.columna {
  border-top: 2px solid black;
}

form.fila:last-child input.columna {
  border-bottom: 2px solid black;
}

.columna {
  height: 4rem;
  width: 4rem;
  text-transform: uppercase;
}

input.columna {
  text-align: center;
  font-size: 1.5rem;
  border: solid black;
  border-width: 1px;
}

input.columna:first-child {
  border-left: 2px solid black;
}

input.columna:last-child {
  border-right: 2px solid black;
}

.fila button[type="submit"] {
  display: none;
}

.alert {
  border-radius: 100vmax;
  font-family: var(--ff);
  margin: 2.5rem auto;
  padding: 2em;
  width: fit-content;
}

.correct {
  border: 2px solid green;
}

.wrong {
  border: 2px solid red;
}

.hidden {
  display: none;
}
